@model IEnumerable<Booking>
@{
    ViewData["Title"] = "Booking Details";
    string? status = Context.Request.Query["status"];
    string approved = "";
    string pending = "";
    string checkIn = "";
    string completed = "";
    string cancelled = "";

    switch (status)
    {
        case StaticDetails.StatusPending:
            pending = "btn btn-primary";
            break;
        case StaticDetails.StatusApproved:
            approved = "btn btn-primary";
            break;
        case StaticDetails.StatusCheckIn:
            checkIn = "btn btn-primary";
            break;
        case StaticDetails.StatusCompleted:
            completed = "btn btn-primary";
            break;
        case StaticDetails.StatusCancelled:
            cancelled = "btn btn-primary";
            break;
        default: break;
    }
}

<div class="w-100 card border-0 p-4">
    <div class="card-header border ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="py-2">Booking Details</h2>
            </div>
        </div>
    </div>

    <div class="card-body border rounded-bottom p-4">
        <form method="post">
            <div class="d-flex justify-content-end pb-4 pt-2">
                <div class="btn-group" role="group">
                    <button type="submit" class="@(string.IsNullOrEmpty(pending) ? "btn btn-secondary" : pending)"
                        asp-controller="Booking" asp-action="Index" asp-route-status="@StaticDetails.StatusPending">
                        @StaticDetails.StatusPending
                    </button>
                    <button class="@(string.IsNullOrEmpty(approved) ? "btn btn-secondary" : approved)"
                        asp-controller="Booking" asp-action="Index" asp-route-status="@StaticDetails.StatusApproved">
                        @StaticDetails.StatusApproved
                    </button>
                    <button class="@(string.IsNullOrEmpty(checkIn) ? "btn btn-secondary" : checkIn)"
                        asp-controller="Booking" asp-action="Index" asp-route-status="@StaticDetails.StatusCheckIn">
                        @StaticDetails.StatusCheckIn
                    </button>
                    <button class="@(string.IsNullOrEmpty(completed) ? "btn btn-secondary" : completed)"
                        asp-controller="Booking" asp-action="Index" asp-route-status="@StaticDetails.StatusCompleted">
                        @StaticDetails.StatusCompleted
                    </button>
                    <button class="@(string.IsNullOrEmpty(cancelled) ? "btn btn-secondary" : cancelled)"
                        asp-controller="Booking" asp-action="Index" asp-route-status="@StaticDetails.StatusCancelled">
                        @StaticDetails.StatusCancelled
                    </button>
                </div>
            </div>
        </form>

        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Email</th>
                    <th>Status</th>
                    <th>Nights</th>
                    <th>Total</th>
                    <th>Details</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var booking in Model)
                {
                    <tr>
                        <td>@booking.Id</td>
                        <td>@booking.Email</td>
                        <td>@booking.Status</td>
                        <td>@booking.Nights</td>
                        <td>@booking.TotalCost</td>
                        <td>
                            <div class="btn-group w-75" role="group">
                                <a class="btn btn-primary" asp-action="BookingDetails" asp-controller="Booking"
                                    asp-route-bookingId="@booking.Id"><i class="bi bi-pencil-square"></i>&nbsp; Details</a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section Scripts {
    <script src="~/js/booking.js"></script>
}