@model IEnumerable<Booking>
@{
    ViewData["Title"] = "Booking Details";
}

<div class="w-100 card border-0 p-4">
    <div class="card-header border ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="py-2">Booking Details</h2>
            </div>
        </div>
    </div>

    <div class="card-body border rounded-bottom p-4">

        @*
        Search Feature
        <div class="row pb-4">
        <form method="post">
        <div class="col-6 text-end">
        <input placeholder="Search by status" class="form-control" />
        </div>
        <div class="col-6">
        <button type="submit" asp-action="SearchByStatus" class="btn btn-outline-info">Search</button>
        </div>
        </form>
        </div>
        *@

        <div class="d-flex justify-content-end pb-4 pt-2">
            <ul class="list-group list-group-horizontal-sm">
                <a style="text-decoration:none;" asp-controller="Booking" asp-action="Index" asp-route-Id="@StaticDetails.StatusPending">
                <li class="list-group-item">@StaticDetails.StatusPending</li>
                </a>
                <a style="text-decoration:none;" asp-controller="Booking" asp-action="Index" asp-route-Id="@StaticDetails.StatusApproved">
                <li class="list-group-item">@StaticDetails.StatusApproved</li>
                </a>
                <a style="text-decoration:none;" asp-controller="Booking" asp-action="Index" asp-route-Id="@StaticDetails.StatusCheckIn">
                <li class="list-group-item">@StaticDetails.StatusCheckIn</li>
                </a>
                <a style="text-decoration:none;" asp-controller="Booking" asp-action="Index" asp-route-Id="@StaticDetails.StatusCompleted">
                <li class="list-group-item">@StaticDetails.StatusCompleted</li>
                </a>
                <a style="text-decoration:none;" asp-controller="Booking" asp-action="Index" asp-route-Id="@StaticDetails.StatusCancelled">
                <li class="list-group-item">@StaticDetails.StatusCancelled</li>
                </a>
                <a style="text-decoration:none;" asp-controller="Booking" asp-action="Index" asp-route-Id="@StaticDetails.StatusRefunded">
                <li class="list-group-item">@StaticDetails.StatusRefunded</li>
                </a>
            </ul>
        </div>

        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Status</th>
                    <th>Nights</th>
                    <th>Total</th>
                    <th>Details</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var booking in Model)
                {
                    <tr>
                        <td>@booking.Id</td>
                        <td>@booking.Name</td>
                        <td>@booking.Email</td>
                        <td>@booking.Status</td>
                        <td>@booking.Nights</td>
                        <td>@booking.TotalCost</td>
                        <td>
                            <div class="btn-group w-75" role="group">
                                <a class="btn btn-primary" asp-action="Details" asp-controller="Amenity"
                                   asp-route-Id="@booking.Id"><i class="bi bi-pencil-square"></i>&nbsp; Details</a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section Scripts {
    <script src="~/js/booking.js"></script>
}