@model List<Amenity>
@{
    ViewData["Title"] = "Amenities";
}

<div class="w-100 card border-0 p-4">
    <div class="card-header border ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="py-2">Amenities</h2>
            </div>
        </div>
    </div>

    <div class="card-body border rounded-bottom p-4">
        <div class="row pb-4">
            <div class="col-6 offset-6 text-end">
                <a asp-controller="Amenity" asp-action="Create" class="btn btn-outline-light">
                    <i class="bi bi-plus-circle"></i>&nbsp; Create new Amenity
                </a>
            </div>
        </div>

        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Villa Name</th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                @foreach (var amenity in Model)
                {
                    <tr>
                        <td>@amenity.Name</td>
                        <td>@amenity.Description</td>
                        <td>@amenity.Villa!.Name</td>
                        <td>
                            <div class="btn-group w-75" role="group">
                                <a class="btn btn-primary" asp-action="Update" asp-controller="Amenity"
                                   asp-route-Id="@amenity.Id"><i class="bi bi-pencil-fill"></i>&nbsp; Modify</a>
                                <a class="btn btn-danger mx-2" asp-action="Delete" asp-controller="Amenity"
                                   asp-route-Id="@amenity.Id"><i class="bi bi-trash"></i>&nbsp; Delete</a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>